@font-face {
    font-family: "CustomFont";
    src: url("fonts/FSEmeric-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  html,
  body {
    font-family: "CustomFont", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 232, 232);
    text-align: center;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    flex-shrink: 0;
  }
  
  header img {
    max-height: 30px;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #ea002a;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
  }
  
  .buttons a {
    text-decoration: none;
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .buttons a:first-of-type {
    color: #ffffff;
    background-color: #ea002a;
    border: 1px solid #ea002a;
  }
  
  .buttons a:last-of-type {
    border: 1px solid #ea002a;
  }
  
  main {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  main img {
    border-radius: 20px;
  }
  